:root {
    --desaturated-dark-cyan: hsl(180, 29%, 50%);
    --bg-light-dark-cyan: hsl(180, 52%, 96%);
    --light-dark-cyan: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --gloomy-grayish-cyan: hsl(180, 14%, 20%);
    --bg-header: url(../images/bg-header-mobile.svg);
}
html{
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Spartan', serif;
    color: var(--gloomy-grayish-cyan);
    background-color: var(--light-dark-cyan);
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.header {
    height: 155px;
    background-image: var(--bg-header);
    background-color: var(--desaturated-dark-cyan);
}

.filter {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 1.5em;
    border-radius: .3em;
    background-color: #fff;
}

.filter--hidden{
    animation: hideFilter .5s forwards;
}
@keyframes hideFilter {
    0%{
        transform: scaleX(1) translateY(-50%);
    }
    to{
        transform: scaleX(0) translateY(-50%);
    }
}

.card, .filter {
    -webkit-box-shadow: 0 8px 8px hsl(180 29% 50% / 0.3);
    box-shadow: 0 8px 8px hsl(180 29% 50% / 0.3);
}

.filter__item {
    padding-left: .5em;
    overflow: hidden;
    white-space: nowrap;
}

.tag__remove-btn {
    background-color: var(--desaturated-dark-cyan);
    color: var(--bg-light-dark-cyan);
    border-style: none;
    height: 30px;
    width: 30px;
    padding: 0;
    margin-left: .5em;
}

.tag__remove-btn::before {
    content: url(../images/icon-remove.svg);
}

.filter__cleaner {
    margin-left: auto;
    background-color: transparent;
    border-style: none;
    color: var(--dark-grayish-cyan);
    font-weight: 700;
}

.main {
    padding: 5em 8% 0 8%;
}

.card {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: .3em;
}

.card--featured {
    border-left: 5px solid var(--desaturated-dark-cyan);
}

.card--hidden{
    display: none;
}

.card__header>* {
    margin-right: 1em;
}

.card__tag {
    border-radius: 2em;
    color: #fff;
    font-size: 10px;
    padding: .4rem;
    font-weight: 700;
}

.card__tag--featured {
    background-color: var(--gloomy-grayish-cyan);
}

.card__tag--new {
    background-color: var(--desaturated-dark-cyan);
}

.card__info-list {
    color: var(--dark-grayish-cyan);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card__info-item {
    font-size: 12.5px;
}

.card__info-list> :not(:first-child)::before {
    content: "â—";
    font-size: .5em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 2vmin;
    margin-left: 2vmin;
}

.filter__tag, .card__tag-item {
    background-color: var(--bg-light-dark-cyan);
    color: var(--desaturated-dark-cyan);
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 13px;
    border-radius: .3em;
}

.card__tag-list, .filter__tag-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1em;
}

.card__tag-item {
    padding: 0.5em;
}

.card__tag-item, .filter__tag, .info-list> :not(:first-child)::before {
    display: inline-block;
}

.card__position {
    font-size: 1em;
    font-weight: 700;
}

.card__company {
    font-size: 13px;
    color: var(--desaturated-dark-cyan);
}

.hidden {
    display: none;
}

@media only screen and (max-width:989px) {
    .card {
        max-width: 350px;
    }
    .card__container {
        border-bottom: 1px solid var(--dark-grayish-cyan);
    }
    .card__logo {
        display: block;
        width: 25px;
        -webkit-transform: translateY(-110%) translateX(50%) scale(2);
        -ms-transform: translateY(-110%) translateX(50%) scale(2);
        transform: translateY(-110%) translateX(50%) scale(2);
    }
}

@media only screen and (min-width:990px) {
    :root {
        --bg-header: url(../images/bg-header-desktop.svg);
    }
    .tag__remove-btn:hover {
        background-color: var(--gloomy-grayish-cyan);
    }
    .filter__cleaner:hover {
        color: var(--desaturated-dark-cyan);
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
    }
    .card {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .card__logo {
        padding-right: 20px;
    }
    .card__position:hover {
        color: var(--desaturated-dark-cyan);
    }
    .card__position:hover, .card__tag-item:hover, .tag__remove-btn:hover,.filter__cleaner:hover {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .card__tag-item:hover {
        background-color: var(--desaturated-dark-cyan);
        color: var(--bg-light-dark-cyan);
        -webkit-transition: background-color .3s;
        -o-transition: background-color .3s;
        transition: background-color .3s;
    }
    .card__tag-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0;
        margin-left: auto;
    }
}