:root {
    --desaturated-dark-cyan: hsl(180, 29%, 50%);
    --bg-light-dark-cyan: hsl(180, 52%, 96%);
    --light-dark-cyan: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --gloomy-grayish-cyan: hsl(180, 14%, 20%);
    --bg-header: url(../images/bg-header-mobile.svg);
    font-size: 15px;
}

:root {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: "Spartan", serif;
    color: var(--gloomy-grayish-cyan);
    background-color: var(--light-dark-cyan);
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.header {
    height: 10.3em;
    background-color: var(--desaturated-dark-cyan);
    background-image: var(--bg-header);
}

.filter {
    display: flex;
    padding: 1.5em;
    border-radius: 0.3em;
    width: 90%;
    transform: translateY(-50%);
    background-color: #fff;
}

.filter--hidden {
    animation: hide-filter 0.5s forwards;
}

.filter__tag {
    line-height: 200%;
}

@keyframes hide-filter {
    0% {
        transform: scaleX(1) translateY(-50%);
    }
    to {
        transform: scaleX(0) translateY(-50%);
    }
}

.card,
.filter {
    box-shadow: 0 8px 8px hsl(180 29% 50% / 0.3);
}

.filter__item {
    padding-left: 0.5em;
    overflow: hidden;
    white-space: nowrap;
}

.tag__remove-btn {
    height: 2em;
    aspect-ratio: 1 / 1;
    padding: 0;
    border-style: none;
    margin-left: 0.5em;
    color: var(--bg-light-dark-cyan);
    background-color: var(--desaturated-dark-cyan);
}

.tag__remove-btn::before {
    content: url(../images/icon-remove.svg);
}

.filter__cleaner {
    border-style: none;
    margin-left: auto;
    color: var(--dark-grayish-cyan);
    font-weight: 700;
    background-color: transparent;
}

.main {
    display: grid;
    padding: 5em 8% 0 8%;
    row-gap: 3em;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 0.3em;
    width: 100%;
    max-width: 350px;
    background-color: #fff;
}

.card--hidden {
    animation: hide-card 1s forwards;
}

.card__container {
    border-bottom: 1px solid var(--dark-grayish-cyan);
}

.card--featured {
    border-left: 5px solid var(--desaturated-dark-cyan);
}

.card__logo {
    display: block;
    width: 25px;
    transform: translateY(-110%) translateX(50%) scale(2);
}

@keyframes hide-card {
}

.card__header > * {
    margin-right: 1em;
}

.card__tag {
    padding: 0.5em;
    border-radius: 2em;
    color: #fff;
    font-size: 0.666rem;
    font-weight: 700;
}

.card__tag--featured {
    background-color: var(--gloomy-grayish-cyan);
}

.card__tag--new {
    background-color: var(--desaturated-dark-cyan);
}

.card__info-list {
    display: flex;
    color: var(--dark-grayish-cyan);
}

.card__info-item {
    font-size: 0.83rem;
}

.card__info-list > :not(:first-child)::before {
    content: "â—";
    margin-right: 2vmin;
    margin-left: 2vmin;
    font-size: 0.5rem;
    transform: translateY(-50%);
}

.filter__tag,
.card__tag-item {
    border-radius: 0.3em;
    font-weight: 700;
    font-size: 0.866rem;
    color: var(--desaturated-dark-cyan);
    background-color: var(--bg-light-dark-cyan);
    user-select: none;
}

.card__tag-list,
.filter__tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card__tag-item {
    padding: 0.5em;
}

.card__tag-item,
.filter__tag,
.info-list > :not(:first-child)::before {
    display: inline-block;
}

.card__position {
    font-size: 1em;
    font-weight: 700;
}

.card__company {
    font-size: 0.8125rem;
    color: var(--desaturated-dark-cyan);
}

.hidden {
    display: none;
}

@media only screen and (min-width: 990px) {
    :root {
        --bg-header: url(../images/bg-header-desktop.svg);
    }
    .tag__remove-btn:hover {
        background-color: var(--gloomy-grayish-cyan);
    }
    .filter__cleaner:hover {
        color: var(--desaturated-dark-cyan);
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
    }
    .card {
        flex-direction: row;
        max-width: unset;
    }
    .card__logo {
        padding-right: 20px;
        width: unset;
        transform: unset;
    }

    .card__container {
        border-bottom: unset;
    }

    .card__position:hover {
        color: var(--desaturated-dark-cyan);
    }
    .card__position:hover,
    .card__tag-item:hover,
    .tag__remove-btn:hover,
    .filter__cleaner:hover {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .card__tag-item:hover {
        color: var(--bg-light-dark-cyan);
        background-color: var(--desaturated-dark-cyan);
        transition: background-color 0.3s;
    }
    .card__tag-list {
        display: flex;
        margin-top: 0;
        margin-left: auto;
        align-items: center;
    }
}
